.dashboard-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .container-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
  }

  .container-body {
    position: relative;
    width: 100%;
    height: calc(100vh - 185px);
  }

  .block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;

    .input {
      width: 100px;
      margin-right: 10px;
    }
  }
}
