.domain-search-container {
  height: 100%;
  margin: 20px;
  color: #606266;
  font-size: 14px;
  font-weight: bold;

  .domain-message:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
    border-color: #eee;
  }

  .domain-message {
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #DCDFE6;

    .operator {
      display: flex;
      justify-content: flex-start;

      .input {
        width: 200px;
        margin-right: 20px;
      }
    }

    .domain {
      margin-top: 20px;
      padding: 20px;
      border: 1px solid #DCDFE6;
    }

    .domain:hover {
      box-shadow: 0 1px 6px rgba(0,0,0,.25);
      border-color: #eee;
    }

    .col {
      display: flex;
      align-items: center;

      .start-time, .collection-time {
        padding: 8px 15px;
        border-radius: 5px;
        border: 1px solid #dcdfe6;
      }
    }
  }

  .domain-message:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
    border-color: #eee;
  }

  .table {
    margin-top: 10px;
  }
}
