.history-flow-search-container {
  height: 100%;
  margin: 20px;

  .operation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    border-radius: 4px;
    border:1px solid #DCDFE6;

    .input {
      width: 50px;
      margin-right: 20px;
    }

    button {
      margin-right: 10px;
    }
  }

  .container-body {
    position: relative;
    width: 100%;
    height: calc(100vh - 185px);
  }

}
