.port-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 20px;

  .port-status:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
    border-color: #eee;
  }
  .port-status {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #DCDFE6;

    .operation {
      width: 1300px;
      padding: 20px 0;
      display: flex;
      justify-content: flex-start;

      .select {
        margin-left: 10px;
      }

      .button1,.button2 {
        margin-left: 10px;
      }
    }

    .port-status-table {
      width: 1300px;
      padding: 20px;
      margin-top: 10px;
      display: flex;
      justify-content: flex-start;
      background: #007bc3;
      box-sizing: border-box;
      font-size: 12px;
      color: #606266;

      .q-item {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 30px;
        border-left: 1px solid #ccc;

        .mask-inner {
          position: absolute;
          left: 0;
          top: 200%;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.3);
        }
      }


      .q-item:hover {

        span {
          display: none;
        }

        .mask-inner {
          top: 0;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;

          .port{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 2px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            font-size: 4px;
            color: #606266;
          }

          .one, .three {
            background: #13ce66;
          }

          .two, .four {
            background: #f2f2f2;
          }
        }
      }

      .s-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 30px;
        border-left: 1px solid #ccc;
      }
    }

    .port-status-mark {
      width: 1300px;
      display: flex;
      justify-content: flex-end;
      padding: 20px;
      font-size: 12px;
      font-weight: bold;
      color: #606266;

      .block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;

        .success {
          width: 50px;
          height: 25px;
          background: #13ce66;
          border: 1px solid #DCDFE6;
          margin-right: 10px;
        }

        .four_ten {
          width: 50px;
          height: 25px;
          background: #ffd700;
          border: 1px solid #DCDFE6;
          margin-right: 10px;
        }

        .error {
          width: 50px;
          height: 25px;
          background: #f2f2f2;
          border: 1px solid #DCDFE6;
          margin-right: 10px;
        }
      }
    }
  }
}
