.port-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 20px;

  .port-status:hover {
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
    border-color: #eee;
  }
  .port-status {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #DCDFE6;

    .operation {
      width: 1400px;
      padding: 20px;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 20px;

      .select {
        margin-left: 10px;
      }

      .button1,.button2 {
        margin-left: 10px;
      }
    }
  }
}
